.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
}

.highlight-comments .comment {
    color: red;
    font-weight: bold;
}

blockquote {
    text-align: justify;
}
